<html>
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Emiel Zuurbier">
		
		<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700,100' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{style}}./style/style.css">
	</head>
	
	<body>
		<main class="main">
			{{{body}}}
		</main>
	</body>
</html>
