/*

STYLESHEET SMARTSENSORS.ME
AIRQUALITY MAPPING PROJECT
AUTHOR: EMIEL ZUURBIER
COPYRIGHT: ALL RIGHTS RESERVERD



--------- TABLE OF CONTENTS ----------

1. HTML & BODY
2. TEXT & FONTS
3. LAYOUT
4. NAVIGATION
5. ELEMENTS
6. TOOLS
7. MAP
8. GRAPHS
9. ANIMATIONS
10. MEDIA QUERIES

--------------------------------------

*/


/* 1. HTML & BODY */

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

body {
	height: 100%;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	font-family: 'Roboto', arial, helvetica, sans-serif;
	text-rendering: optimizeLegibility;
	overflow: hidden;
}



/* 2. TEXT & FONTS */

h1, h2, h3, h4, h5, h6 {
	color: #ffffff;
}

h2 {
	font-weight: 100;
	font-size: 2em;
}

h3 {
	font-weight: 100;
/*	font-size: 3em;*/
}



p {
	color: #5A5D53;
}

/* 3. LAYOUT */

.menu {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	
	-webkit-flex-basis: 4em;
	-ms-flex-preferred-size: 4em;
	flex-basis: 4em;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	
	background-color: #252525;
	box-shadow: 0.3em 0em 1.3em 0em #191919;
	z-index: 3;
}

.main {
	position: relative;
	-webkit-flex-basis: 1;
	-ms-flex-preferred-size: 1;
	flex-basis: 1;
	-webkit-box-flex: 3;
	-webkit-flex-grow: 3;
	-ms-flex-positive: 3;
	flex-grow: 3;
	-webkit-flex-shrink: 2;
	-ms-flex-negative: 2;
	flex-shrink: 2;
	
	background-color: #222222;
}

.controls {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	
	-webkit-flex-basis: 4em;
	-ms-flex-preferred-size: 4em;
	flex-basis: 4em;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	
	background-color: black;
	display: none;
}

.page {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-align-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
	width: 100%;
	height: 100%;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
	position: absolute;
	left: 0;
	top: -5em;
	padding: 1em;
	opacity: 0;
	visibility: hidden;
	overflow-y: scroll;
}

.page.active {
	top: 0;
	opacity: 1;
	visibility: visible;
	-webkit-transition: 0.3s ease 0.3s;
	transition: 0.3s ease 0.3s;
}

.page-header {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 100%;
	-ms-flex: 1 1 100%;
	flex: 1 1 100%;
	padding: 0 0 0.5em;
	margin: 0 0 1em;
	border-bottom: 0.0625em solid #5A5D53;
}

.page-graph {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 20em;
	-ms-flex: 1 1 20em;
	flex: 1 1 20em;
	display: block;
	margin: 0 1em 2em 0;
}

.page-graph-header {
	margin-bottom: 1em;
}

.page-graph-field {
	display: block;
	width: 100%;
	height: auto;
}

.admin-login {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

/* 4. NAVIGATION */

.navigation {
	display: block;
	width: 100%;
	height: 100%;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.navigation-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.navigation-list li {
	display: block;
}

.navigation-button {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 1.5em;
	color: #7e7e7e;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.navigation-button.active {
	background-color: #ABCE59;
}

.navigation-button.active svg {
	fill: #ffffff;
}

.navigation-button svg {
	display: block;
	width: 100%;
	height: auto;
	fill: #5A5D53;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	-webkit-transition-delay: display 0.3s;
	transition-delay: display 0.3s;
}

.navigation-button:hover svg {
	fill: #ffffff;
}


/* 6. TOOLS */

.hidden {
	display: none;
}

/* 7. MAP */

#map {
	padding: 0;
	overflow: hidden;
}

.marker {
	display: block;
	border-radius: 50%;
	background-color: #ABCE59;
}

/*
.marker::after {
	display: block;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border: 0.0625em solid #ABCE59;
	border-radius: 50%;
	-webkit-animation-name: pulse;
	animation-name: pulse;
	-webkit-animation-direction: normal;
	animation-direction: normal;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
}
*/

.marker-counter {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
	background-color: #353535;
}

.leaflet-popup-content-wrapper {
	border-radius: 0;
}

.leaflet-popup-content p {
	color: #999999;
}

.leaflet-bottom {
	display: none;
}

/* 8. GRAPHS */

#line-graph .ct-area {
	fill-opacity: 1;
}

.ct-series-a .ct-area, .ct-series-a .ct-slice-pie {
	fill: #ABCE59;
}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
	stroke: #ABCE59;
}

.ct-label {
	color: #5A5D53;
}


/* 9. ANIMATIONS */

@-webkit-keyframes pulse {
	0%		{ opacity: 0; -webkit-transform: scale(1); transform: scale(1); }
	50%		{ opacity: 1; }
	100%	{ opacity: 0; -webkit-transform: scale(2); transform: scale(2); }
}

@keyframes pulse {
	0%		{ opacity: 0; -webkit-transform: scale(1); transform: scale(1); }
	50%		{ opacity: 1; }
	100%	{ opacity: 0; -webkit-transform: scale(2); transform: scale(2); }
}

