<main class="main">
	<section id="map" class="active page">
		<header class="page-header hidden">
			<h2>Map</h2>
		</header>
	</section>
	<section id="sensors" class="page">
		<header class="page-header">
			<h2>Sensors</h2>
		</header>
	</section>
	<section id="data" class="page">
		<header class="page-header">
			<h2>Data</h2>
		</header>
		<article class="page-graph">
			<header class="page-graph-header">
				<h3>Average signal</h3>
				<p>Signal average from sensors</p>
			</header>
			<div id="line-graph" class="page-graph-field ct-chart ct-major-eleventh graph-bg">
			</div>
		</article>
		<article class="page-graph">
			<header class="page-graph-header">
				<h3>Range</h3>
				<p>Location range from sensors</p>
			</header>
			<div id="bar-graph" class="page-graph-field ct-chart ct-major-eleventh">
			</div>
		</article>
	</section>
	<section id="edit" class="page">
		<header class="page-header">
			<h2>Edit</h2>
		</header>
	</section>
	<section id="notifications" class="page">
		<header class="page-header">
			<h2>Notifications</h2>
		</header>
	</section>
</main>