<section class="page active">
	<header class="page-header">
		<h2>Create account</h2>
	</header>
	<form>
		<fieldset>
			<legend>Create</legend>
			<input type="text" name="username" id="username">
			<label for="username">Username</label>
			<input type="password" name="password" id="password">
			<label for="password">Password</label>
			<input type="password" name="password" id="password">
			<label for="password">Repeat password</label>
			<input type="submit" value="Create Account">
		</fieldset>
	</form>
</section>